body{
bgcolor: white;
font-family: Verdana;
padding: 0px;
margin: 0px;
background-color: darkGrey;
}
#container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
	}

form{
/*border: 1px dotted grey;*/

padding-left: 50px;
}

#w{
border: 1px solid grey;
font-size: 40px;
padding: 1px;
}

#result{
	clear: both;
}
.resultSheet{
	float:left;
	width: 45%;
	padding: 5px;
	font-size: 90%;
	}
.header{
	font-size: 8px;
	text-align: center;
	clear: both;
	}
.blink{
	font-size: 90%;
	color: #999999;
	}



